h1 {
    text-align: center;}

#preto {
    background-color:black;}

#pink {
    background-color: pink;}

#purple {
    background-color: purple;}

#yellow {
    background-color: yellow;}

.color {
    border: black 1px solid;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: auto;}

.pixel {
    background-color: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;}

#pixel-board {
    margin-top: 30px;
    text-align: center;}

#button-random-color {
    margin-left: 47%;}

#color-palette {
    margin-left: 45.5%;}