h1 {
    text-align: center;}

#preto {
    background-color:black;}

#pink {
    background-color: pink;}

#purple {
    background-color: purple;}

#yellow {
    background-color: yellow;}

.color {
    border: black;
    border: '1px';
    border: solid;
    border-style: solid;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: auto;}
